# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Truffle
/build/
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Miscellaneous
.DS_Store
Thumbs.db
